html, body, #map { height: 100%; overflow: hidden; }

.sidebar {
  position: absolute;
  right: 10px;
  top: 10px;

  width: 30%;
}

select {
  -webkit-appearance: none;
}

.panel {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
}

.panel-body {
  padding: 0;
}

.panel-body .config,
.panel-body .footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.panel-default > .panel-heading {
  border-bottom: 1px solid #ddd;
}

.panel-body .config {
  padding-bottom: 5px;
}

.panel-body textarea {
  height: 200px;
  padding: 15px;
  border: none;
}

.loc {
  width: 29px;
  height: 44px;

  background-image: url(../img/pin.png);
  background-size: 100%;
  position: relative;

  margin-top: -44px;
  margin-left: -14.5px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .loc {
    background-image: url(../img/pin@2x.png);
  }
}
